body {
    background-color: darkgray;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    color: black;
}

ul li {
    list-style: none;
}


/* Đăng nhập */

#user-index.row .col-xs-4 {
    background-color: #ecf0f1;
    margin-top: 15%;
    margin-left: center;
    position: relative;
}

#user-index.row .links a {
    text-decoration: none;
}

#user-index.row .links a:hover {
    color: #A9A9A9;
}


/* Đăng ký */

#user-register.row .col-xs-4 {
    background-color: #ecf0f1;
    margin-top: 15%;
    margin-left: center;
    position: relative;
}


/*Phần user*/

#user-edit.container {
    margin: 0;
    padding: 0;
}

#user-edit.container .row .col-xs-4 {
    background-color: #ecf0f1;
    margin-top: 15%;
    margin-left: center;
    position: relative;
}


/* phần menu */

nav #login {
    color: white;
}

nav #login:hover {
    color: gray;
}

nav #login.navbar-brand .fas.fa-user {
    margin-right: 5px;
}

.menu-user {
    margin: 0;
    padding: 0;
}

.menu-user .menu-user-info {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    background-color: #343A40;
    border-bottom: none;
    position: relative;
}


/* .menu-user .menu-user-info:last-child {
    border-bottom: solid 1px #A9A9A9;
    Vì để border-bottom: none vì thế xét phần tử li cuối cùng có border-bottom


}*/

.menu-user .menu-user-info ul {
    position: absolute;
    background-color: #343A40;
    top: 42px;
    right: -6rem;
    width: 150px;
    height: auto;
    display: none;
}

.menu-user .menu-user-info:hover ul {
    display: block;
}


/*phân trang*/

.paginate {
    text-align: center;
    margin: 20px;
}

.paginate .w-5 {
    display: inline-block;
    width: 50px;
}

.paginate p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}